.dnd-spell{
    &__details{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0.5rem 0;
        border-top: 3px solid $accent;;
        border-bottom: 3px solid $accent;
        margin-bottom: 1rem;
    }
    &__detail{
        display: flex;
        flex-direction: column;
        padding-right: 16px;
        label{
            font-weight: 800;
        }
    }
}